.App {
  text-align: center;
}

.front-text {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 300px;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.login-form {
  height: auto;
  width: 600px;
  padding: 40px;
  border-radius: 5px;
}

* {
  box-sizing: border-box;
}

.login-btn {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: #000000;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  margin-top: 4rem;
}

.login-link {
  text-decoration: none;
  color: #000000;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 1rem;
  display: block;
}

.signup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.signup-form {
height: auto;
width: 600px;
padding: 40px;
border-radius: 5px;
}